h1 {background: red;}

.par-1 {background: blue;
font-size: 14pt;
color: white;}

.par-2 {border: 5px solid yellow;
border-radius: 10px;
margin-bottom: 50px;
padding-bottom: 30px;
padding-left: 15px}

.par-3 {font-family: Arial;
font-weight: 600;
border: dotted;}

